{{ define "main" }}

<main aria-role="main">

    <section class="hero">
        <h1>We believe great hackers make the best founders.</h1>
        <div class="subtitle">
            <p>The Cal Hacks Fellowship is a 12-week accelerator program that takes place every spring on UC Berkeley campus.</p>

            <p>We work with the top teams at each year's Cal Hacks to amplify the impact of their Cal Hacks projects. Fellows work with mentors, partner organizations, investors, and engineers at Cal to turn their hacks into incredible startups, nonprofits, open-source projects, and more.</p>
        </div>
    </section>

    <section>
        ... more to come ...
    </section>

</main>

{{ end }}
